@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 50%;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      @include tablet {
        margin: 20px;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 88px;
        line-height: 90px;

        @include mobile {
          font-size: 36px;
          line-height: 40px;
        }

        @include tablet {
          font-size: 74px;
        }
      }

      img {
        width: 50px;

        @include mobile {
          display: none;
        }
      }
    }
  }

  .imageContainer {
    height: 95%;
    position: absolute;
    top: 0;
    right: 0;
    border: 4px solid lightgray;

    @include mobile {
      height: 60%;
      top: unset;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0; /* Usuwamy dolny margines */
      width: 250px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slidingTextContainer {
    position: absolute;
    z-index: 0;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
